$color1: #0B0C10;
$color2: #1F2833;
$color3: #C5C6C7;
$color4: #66FCF1;
$color5: #45A29E;

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
    margin: 0;
    box-sizing: border-box;
}

html, body {
    position: relative;
    font-family: "Poppins", sans-serif;
    background-color: $color2;
    min-height: 100vw;
}
// END OF RESET
a {
    text-decoration: none;
    color: whitesmoke;
}

// nav
nav {
    position: sticky;
    top: 0;
    height: 75px;
    background-color: $color1;
    display: flex;
    box-shadow: -10px 1px 3px 4px lighten($color1, 10%);
    // overflow: hidden;
    .nav-item {
        // height: 100%;
        ul {
            height: 100%;
            align-items:center;
            li {
                position: relative;
            }
            span {
                text-decoration: underline;
                position: absolute;
                left: 0;
                top: 0;
                // background-color: red;
                width: 100%;
            }
        }
        a {
            height: 100%;
            display: flex;
            align-items:center;
        }
    }
    .nav-item:nth-child(2) {
        a:hover {
            span {
                transform: testing 5s ease-in;
            }
        }
    }
}
@keyframes testing {
    0% {
        filter:blur(4px);
        height: 100%;
        width: 1%;
        background-color: red;
        opacity: 50%;
    }

    100% {
        filter:blur(4px);
        height: 100%;
        width: 100%;
        background-color: blue;
        opacity: 25%;
    }
    // 0% {
    //     height: 100%;
    //     width: 0%;
    //     background-color: red;
    //     opacity: 50%;
    // }
    // 33% {
    //     height: 100%;
    //     width: 50%;
    //     background-color: purple;
    // }
    // 66% {
    //     width: 100%;
    //     background-color: blue;
    // }
    // 100% {
    //     background-color: none;
    // }
}



.nav-item:nth-child(1) {
    flex: 1;
    display: flex;
    padding: 0.25em;
}
.nav-item:nth-child(2) {
    flex: 5;
}
.nav-item:nth-child(3) {
    flex: 1;
    display: none;
}
@media screen and (max-width: 500px) {
    .nav-item {
        flex: 1;
    }
    .nav-item:nth-child(3) {
        display: block;
    }
    .hamburger-container {
        margin: auto;
        display: flex;
        flex-direction: column;
    }

    .bar {
        border-bottom: 0.2em solid #ffffff;
        width: 100%;
        margin-top: 25%;
        margin-right: 1em;
    }
    ul, li {
        display: none;
    }
}
.nav-list {
    list-style-type: none;
    display: flex;
    // flex-wrap: wrap;
    justify-content: flex-end;
    li {
        margin: 1em;
    }
    a:hover {
        background-color: lighten($color1, 8%);
        transition: slide 1s;
    }
    @keyframes slide {
        0% {
            color: blue;
        }
        100% {
            color: red;
        }
    }
}

// End of Nav

main {
    width: 90%;
    margin: auto;
    #about {
        background-color: lightblue;
    }
    #experience {
        background-color: lightgreen;
    }
    #contact {
        background-color: lightpink;
    }
}