/*
font-family: 'Baloo Bhai', cursive;
font-family: 'Baloo Bhaijaan', cursive;
font-family: 'Baloo Bhaina', cursive;
font-family: 'Fredoka One', cursive;
font-family: 'Nunito', sans-serif;
font-family: 'Source Sans Pro', sans-serif;*/
@import url("https://fonts.googleapis.com/css?family=Baloo+Bhai|Baloo+Bhaijaan|Baloo+Bhaina|Fredoka+One|Nunito|Source+Sans+Pro&display=swap");
* {
    box-sizing: border-box;
    testing
}

body {
    margin: 0;
    /* border: 3px solid red; */
    background-color: #212121;
    color: white;
}
.overlay {
    border: 2px solid red;
    /* height: 100vh; */
}
img {
    image-resolution: 100px;
}

