/*
font-family: 'Baloo Bhai', cursive;
font-family: 'Baloo Bhaijaan', cursive;
font-family: 'Baloo Bhaina', cursive;
font-family: 'Fredoka One', cursive;
font-family: 'Nunito', sans-serif;
font-family: 'Source Sans Pro', sans-serif;*/
@import url("https://fonts.googleapis.com/css?family=Baloo+Bhai|Baloo+Bhaijaan|Baloo+Bhaina|Fredoka+One|Nunito|Source+Sans+Pro&display=swap");
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #212121;

}

