/*
font-family: 'Baloo Bhai', cursive;
font-family: 'Baloo Bhaijaan', cursive;
font-family: 'Baloo Bhaina', cursive;
font-family: 'Fredoka One', cursive;
font-family: 'Nunito', sans-serif;
font-family: 'Source Sans Pro', sans-serif;*/
@import url("https://fonts.googleapis.com/css?family=Baloo+Bhai|Baloo+Bhaijaan|Baloo+Bhaina|Fredoka+One|Nunito|Source+Sans+Pro&display=swap");

* {
    box-sizing: border-box;
}
body {
    margin: 0;
    background-color: rgb(100,100,200, 0.5);
    font-family: 'Source Sans Pro', sans-serif;
}

/* for normal sized screens */
.grid {
    display: grid;
    height: 95vh;
    grid-template-columns: 2fr 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "main main bio"
                         "main main work"
                         "main main contact";
}
/* for smaller screens */
@media only screen and (max-width: 600px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 10fr 1fr 1fr 1fr;
        grid-template-areas: "main"
                             "bio"
                             "work"
                             "contact";
    }
}
.grid .main {
    grid-area: main;
    background-color: rgb(240, 119, 119);
}
.grid .bio {
    grid-area: bio;
    background-color: rgb(230, 167, 126);
}
.grid .work {
    grid-area: work;
    background-color: rgb(133, 123, 228);
}
.grid .contact {
    grid-area: contact;
    background-color: rgb(178, 235, 206);
}
.image {
    object-fit: cover;
    max-width: 100%;
}
.footer {
    color: rgb(7, 161, 84);
    background-color: rgb(39, 34, 34);
    height: 5vh;
    display: flex;
    justify-content: flex-end;
}
.footer-wrapper {
    font-size: 2em;
    align-self: flex-end;
    padding: 0.5em 1em;
}